body {
    background-color: #313338;
    color: #ddd;
    font-family: Arial, sans-serif;
    text-align: center;
}

#points {
    font-size: 1.5em;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 60px;
}

.remove-button {
    background-color: #ab0000;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.remove-button:hover {
    background-color: #4c0000;
}

.skill-list {
    margin-bottom: 20px; /* Add space below the skill list */
}
.fighting-style-header {
    margin-top: 20px; /* Add space above each fighting style header */
}